<h1 class="display-1"><%= @article.title %></h1>
<p><%= @article.description %></p>
<%= link_to 'Edit this article', edit_article_path(@article), class: "btn btn-warning" %> <%= link_to 'Delete', article_path(@article), method: :delete, class:"btn btn-danger", data: { confirm: "Are you sure?" } %>